h1{
                text-align:center;
                background-color:yellow;
            }
            a:link{
                color:blue;
            }
             a:visited{
                color:red;
            }
            a{
                text-decoration:underline;
            }
            a:active{
                color:green;
            }
            ul{
                list-style-type:none;
                margin:0;
                padding:0;
            }
            #menu{
                float:left;
                width:100px;
            }
            .passage{
                margin-left:150px;
                margin-right:120px;
                border-left-width:2px;
                border-left-style:solid;
                border-left-color:green;
                padding:10px;
            }
            #last{
                float:right;
                border-width:2px;
                border-style:dashed;
                border-color:green;
                margin-top:0;
            }

